# dependencies
**/node_modules

# build artifacts
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# aiken build outputs
plutus.json
*.plutus

# cardano key material & tx files
*.addr
*.skey
*.vkey
*.tx
*.pol
params.json
subscriptor.subscriptor.spend.json

# scripts intermediates
scripts/intermediate
last-status.txt

launch.json
